<h1>Доступ только по пин-коду</h1>

<%= form_for('', method: 'post') do |f| %>
  <div class="form-group">
    <%= f.label :pincode, t('activerecord.attributes.event.pincode') %>
    <%= f.text_field :pincode, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit t('links.log_in'), class: 'btn btn-info'%>
  </div>
<% end %>

<%= link_to t('links.back'), root_path, class: 'btn btn-info my-2' %>
